<div class="auth-container">
  <div class="auth-box">
    <h1 class="auth-brand">
      <div class="auth-logo">
        <%= image_tag "vandalsquat-logo.png",
              alt: "VandalSquat",
              class: "auth-logo-img",
              loading: "eager" %>
      </div>
    </h1>

    <h2>Log in</h2>

    <% if @error %>
      <p class="auth-error"><%= @error %></p>
    <% end %>

    <%= form_with url: login_path, method: :post, local: true do |f| %>
      <p>
        <label>Username<br>
          <%= text_field_tag :username, params[:username], required: true, placeholder: "Your username" %>
        </label>
      </p>

      <p>
        <label>Password<br>
          <%= password_field_tag :password, nil, required: true %>
        </label>
      </p>

      <p>
        <%= submit_tag "Log in" %>
      </p>
    <% end %>

    <p class="auth-alt">
      Don't have an account?
      <%= link_to "Sign up", signup_path %>
    </p>
  </div>
</div>
